<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adopta-Mascota</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/layout.css">
  <link rel="stylesheet" href="/static/css/index/header.css">
  <link rel="stylesheet" href="/static/css/index/main.css">
  <link rel="stylesheet" href="/static/css/index/aside.css">
  <link rel="stylesheet" href="/static/css/index/footer.css">
  <link rel="website icon" type="icon" href="/static/picture/icono.png">
</head>

<body>
  <div class="layout">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">
          <img src="/static/picture/icono.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="/index.html" class="nav-item nav-link active">INICIO<span class="sr-only">(current)</span></a>
            <a href="/login.html" class="nav-item nav-link">LOGIN</a>
            <a href="/contacto.html" class="nav-item nav-link">CONTACTO</a>
            <a href="#" class="nav-item nav-link disabled">UPDATES</a>
          </div>
        </div>
      </nav>
    </header>
    <aside>
      <h1><span class="auto-type"></span></h1>
    </aside>
    <main>
      <div class="tabs-container">
        <div class="tabs-layout">
          <select class="tabs-select">
            <option value="tab1">Bienvenidos</option>
            <option value="tab2">El Problema</option>
            <option value="tab3">Nuestra Solucion</option>
            <option value="tab4">Nuestra Mision</option>
            <option value="tab5">Nuestra Vision</option>
          </select>
          <ul class="tabs">
            <li>
              <a id="tab1" title="Bienvenidos" href="#tab1">
                Bienvenidos
              </a>
            </li>
            <li>
              <a id="tab2" title="El Problema" href="#tab2">
                El Problema
              </a>
            </li>
            <li>
              <a id="tab3" title="Nuestra Solucion" href="#tab3">
                Nuestra Solucion
              </a>
            </li>
            <li>
              <a id="tab4" title="Nuestra Mision" href="#tab4">
                Nuestra Mision
              </a>
            </li>
            <li>
              <a id="tab5" title="Nuestra Vision" href="#tab5">
                Nuestra Vision
              </a>
            </li>
          </ul>
          <div class="tab-content-wrapper">
            <section id="tab1-content" class="tab-content">
              <h2>Adopta Mascota</h2>
              <p>
                ¡Bienvenido a Adopta Mascota, tu destino para encontrar a tu compañero peludo perfecto en la hermosa
                ciudad de Pereira! En nuestro sitio web, nos dedicamos a mejorar la vida de las mascotas al conectarlas 
                con hogares amorosos y responsables. Desde perros juguetones hasta gatos cariñosos, 
                ¡aquí encontrarás a tu nuevo mejor amigo! 
                Explore nuestro catálogo en línea y comience su viaje para encontrar a su compañero de vida hoy mismo.
              </p>
            </section>
            <section id="tab2-content" class="tab-content">
              <h2>El Problema</h2>
              <p>
                En la ciudad de Pereira, existe una población considerable de mascotas sin hogar que necesitan
                ser adoptadas y cuidadas adecuadamente. Muchas de estas mascotas enfrentan dificultades para encontrar
                familias amorosas y responsables que les brinden un hogar permanente. Este problema no solo afecta la
                calidad de vida de las mascotas, sino que también contribuye al problema de la superpoblación animal
                en la ciudad.
              </p>
            </section>
            <section id="tab3-content" class="tab-content">
              <h2>SOLUCION</h2>
              <p>
                Es proporcionar una plataforma en línea donde las personas puedan buscar y adoptar mascotas fácilmente.
                Conectamos a las mascotas necesitadas con familias amorosas en Pereira y brindamos recursos y apoyo para
                garantizar una transición suave y exitosa hacia su nuevo hogar. Además, promovemos la adopción
                responsable
                y la esterilización para ayudar a controlar la población de mascotas en la ciudad. Nuestro objetivo es
                mejorar
                la vida de las mascotas al encontrarles hogares felices y permanentes, mientras creamos conciencia sobre
                la importancia de la adopción y el cuidado responsable de los animales.
              </p>
            </section>
            <section id="tab4-content" class="tab-content">
              <h2>Nuestra misión</h2>
              <p>
                En Adopta Mascota, nuestro corazón late por darles un hogar amoroso a las mascotas de Pereira. 
                Nos dedicamos a conectar a los peluditos sin familia con personas que les ofrecerán una vida 
                llena de cuidados y cariño. Creemos firmemente en la educación sobre la adopción consciente y 
                en la esterilización como claves para un futuro donde cada mascota sea valorada. Unimos fuerzas con 
                refugios y voluntarios para asegurar la alegría y el bienestar de nuestros amigos de cuatro patas, 
                fomentando un espíritu de bondad y amor por los animales en nuestra comunidad.
              </p>
            </section>
            <section id="tab5-content" class="tab-content">
              <h2>Nuestra visión</h2>
              <p>
                En Adopta Mascota es crear una comunidad en Pereira donde cada mascota tenga un hogar amoroso y
                permanente.
                Visualizamos un futuro donde no haya mascotas sin hogar en nuestra ciudad y donde la adopción
                responsable
                sea la norma. Queremos ser líderes en el bienestar animal, promoviendo una cultura de compasión, cuidado
                y
                responsabilidad hacia todas las criaturas vivientes. Nuestra visión es una Pereira donde cada mascota
                reciba
                el amor y el cuidado que se merece, contribuyendo así a una sociedad más compasiva y solidaria en
                general.
              </p>
            </section>
          </div>
        </div>
    </main>
    <footer>
      <div class="footer-icons">
        <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="icon"><i class="far fa-envelope"></i></a>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/static/js/titulo.js" defer></script>
  <script src="/static/js/vertical_tabs.js"></script>
</body>

</html>