<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta-Mascota</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login/login.css">
    <link rel="website icon" type="icon" href="/static/picture/icono.png">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>INICIO </span><span>REGISTRO</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">INICIO DE SESIÓN</h4>
                                            <form action="/login" method="post">
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-style"
                                                        placeholder="Correo">
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" name="password" class="form-style"
                                                        placeholder="Contraseña">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button type="submit" class="btn mt-4">Ingresar</button>
                                                <p class="mb-0 mt-4 text-center"><a href="/index.html"
                                                        class="link">Olvidaste tu contraseña?</a></p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-3 pb-3">REGISTRO</h4>
                                            <form action="/register" method="post">
                                                <div class="form-group">
                                                    <input type="text" id="name" name="name" class="form-style"
                                                        placeholder="Nombres Completos">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" id="last-name" name="last-name" class="form-style"
                                                        placeholder="Apellidos Completos">
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="tel" id="phone" name="phone" class="form-style"
                                                        placeholder="Telefono">
                                                    <i class="input-icon uil uil-phone"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="email" id="email" name="email" class="form-style"
                                                        placeholder="Correo" oninput="checkEmailAvailability()">
                                                    <i class="input-icon uil uil-at"></i>
                                                    <div id="emailMessage" style="color: red;"></div>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="password" id="password" name="password"
                                                        class="form-style" placeholder="Contraseña">
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <button type="submit" class="btn mt-4">Registrarse</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/checkEmailAvailability.js"></script>

</html>