main {
    grid-area: main;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.card {
    width: 30rem;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.navigation-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigation-buttons-container button {
    margin: 0 10px;
}